.Content {
    padding-top: 140px;
}

.Content .Main-Text {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

    .Content .Main-Text h1 {   
        font-weight: 500;
        font-family:'Montserrat', sans-serif;;
        letter-spacing: 3px;
        font-size: 50px;
        line-height: 70px;
        color: white;
    }


    .Content .Main-Text h3 {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 3px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        line-height: 70px;
    }

    .Content .Main-Text p {
        max-width: 100%;
        width: 480px;
        color: white;
        line-height: 1.8;
        font-size: 15px;
        margin-bottom: 50px;
    }

    .Content .Main-Text a {

        display: inline-block;
        text-decoration: none;
        color: black;
        background: white;
        border: 1px dolid white;
        padding: 9px 25px;
        line-height: 1.4;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 500;
    }

    .Content .Main-Text a:hover {
        transform: scale(1.2);
        border: 1px solid;
        background: transparent;
        color: white;
        transition: .5s;
    }

    .Content .Main-Text a.cta {
        border: 1px solid #ffca58;
        color: white;
        background: transparent;
        margin-left: 20px;
    }

    .Content .Main-Text a.cta i {
        margin-right: 12px;
    }

    .Content .Main-Text a.cta:hover {
        color: black;
        background: white;
        border: 1px solid white;
        transition: .5s;
    }
