.Content {
    background-image: url("/pictures/e-tron_banner_new.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    height: 970px;
  
}

.Content::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* burada shader alanının yüksekliğini ayarlayabilirsiniz */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    z-index: -1;
}



.Content .Main-Text  {
    padding: 30px 0px 0px 120px;
}

.Content .Main-Text {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.Content .Main-Text h1 {
    font-family: 'Audi Type', sans-serif;
    font-stretch: extra-expanded;
    font-weight: 400;
    letter-spacing: -0.015em;
    font-size: 40px;
    line-height: 60px;
    color: white;
    
}

.Content .Main-Text h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 70px;
}

.Content .Main-Text .btn {

    display: inline-block;
    text-decoration: none;
    color: #666666;
    background: white;
    padding: 18px 35px;
    line-height: 1.4;
    font-size: 16px;
    font-family: 'Audi Type', sans-serif;
    font-weight: 500;
}

.Content .Main-Text .btn:hover {
    background-color: #dddddd;
    color: #666666;
}


.Content2 {
    background-image: url("/pictures/bg-foto.avif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    height: 1700px;
    transition: transform .15s ease-out;
    --transition-ease-in: cubic-bezier(.69,.01,.83,.56);
    --transition-ease-out: cubic-bezier(.21,.55,.43,1);
    --transition-ease-in-out: cubic-bezier(.75,.02,.5,1);
    transform: translate3d(-50%, 29px, 50px);
    top: -72px;
    left: 50%;
    will-change: transform;
    backface-visibility: hidden;
}


.Content2 .Main-Text2  {
    background-color: rgb(235, 235, 235);
    margin: 1000px 100px;
}



.ModalBand
{
    padding: 1rem;
    list-style: none;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 900px;
    width: 85vw;
    margin: auto;
}

.CarList
{
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x proximity;
  
}

.CarList img
{
    scroll-snap-align: start;
    width: 250px;
    height: 100px;
}

