.Content4 {
    background-image: url("/pictures/galata_etron_anasayfa_1920.jpg.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    height: 970px;
}

.Content4 .Main-Text4 .ItemsContainer .Titles .H1-Title h1
{
    font-family: 'Audi Type', sans-serif;      
    transform: translate(-50% , -50%) scale(3.3, 2.5);
    margin-left: 1090px;
    margin-bottom: -45px;
    -webkit-font-smoothing: antialiased;
    margin-top: 55px;
    font-weight: 100; 
    letter-spacing: -0.015em;
    font-size: 16px;
    line-height: 60px;
   
}


.Content4 .Main-Text4 .ItemsContainer .Titles .H3-Title h3
{
    font-family: 'Audi Type', sans-serif; 
    color: rgb(51, 51, 51);
    font-size: 6px;
    transform: translate(-50% , -50%) scale(3.7, 3);
    -webkit-font-smoothing: antialiased;
    margin-left: 1132px;
    margin-top: 40px;
    margin-bottom: -35px;
    font-weight: 100;
    letter-spacing: 0.015em;
    line-height: 70px;
}


.Content4 .Main-Text4 .ItemsContainer .Buttons .Discover-Button .btn
{
    display: inline-block;
    text-decoration: none;
    color: rgb(213, 213, 213);
    border: 1px black solid;
    background: black;
    margin: 0px 0px 0px 120px;
    padding: 18px 35px;
    line-height: 1.4;
    font-size: 16px;
    font-family: 'Audi Type', sans-serif;
    letter-spacing: 0.015em;
    font-weight: 500;
}

