* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-color: black;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    overflow: overlay;
    overflow-y: scroll;
}


