.Hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 905px 0px 92px;
    height: 72px;
}

.Logo {
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.Hero .Menu ul li {

    list-style: none;
    display: inline-block;

}

.Hero .Menu ul li  a {
    font-family: 'Audi Type', sans-serif;                             
    text-decoration: none;
    color: #666666;
    margin-left: 20px;
    font-size: 17px;
}


